<div class="app-notice__icon flex-item--none">
  {{fa-icon faIcon}}
</div>
<p class="app-notice__msg flex-item--auto" data-test-id="app-notice">
  {{t message}}
</p>
<div class="app-notice__dismiss flex-item--none" data-test-id="app-notice-dismiss">
  {{fa-icon 'close'}}
</div>