$xs-screen: 479px;
$sm-screen: 599px;
$md-screen: 767px;
$lg-screen: 991px;

%mobile-hide {
  @media (max-width: $sm-screen) {
    display: none !important;
  }
}

%desktop-hide {
  @media (min-width: $lg-screen) {
    display: none !important;
  }
}

.mobile-hide {
  @extend %mobile-hide;
}

.desktop-hide {
  @extend %desktop-hide;
}