.site-footer {
  // background-color: $brand-color;
  padding: 0.5em 0 0.5em 0;

  h4 {
    color: $gray--darkest;
    margin: 7px 0;
    white-space: nowrap;
  }

  .footer-columns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    > li {
      margin-bottom: 1em;
      padding-left: 8%;
    }

    .footer-links {
      li {
        display: inline-block;
        margin-bottom: 5px;
        width: 100%;
        color: $gray--darker;
      }

      a {
        color: $gray--darker;
        font-size: $body-font-size-small;
      }
    }
  }
}
